# Set up

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
from google.colab import drive
import os
drive.mount('/content/drive',force_remount=True)
os.chdir(f'/content/drive/MyDrive/Mestrado')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import glob
import zipfile
from tqdm import tqdm
import datetime

In [ ]:
%load_ext google.colab.data_table

In [ ]:
cadastro = (
    pd.read_excel('/content/drive/Shareddrives/BASES BIs Plano de Saude/03. Bases/Claro/Cadastro/2022/2022_10/claro_seguros_unimed_cadastro_2022_2022_10_BENEFICIARIO_SU_3778_2022_10_28_claro__2022-10-28T11_00_00.xlsx',
                usecols=['NOME_ASSOCIADO','NUM_CPF','DATA_NASCIMENTO','IND_SEXO','DATA_INCLUSAO','DATA_EXCLUSAO','TIPO_ASSOCIADO','SGL_UF','NOME_CIDADE','NUM_DDD','NUM_TELEFONE','END_EMAIL']))

In [ ]:
cadastro.head()

,NOME_ASSOCIADO,IND_SEXO,TIPO_ASSOCIADO,NUM_CPF,DATA_NASCIMENTO,DATA_INCLUSAO,DATA_EXCLUSAO,NOME_CIDADE,SGL_UF,NUM_DDD,NUM_TELEFONE,END_EMAIL
0,ALEXANDRE ALVES DA CUNHA,M,T,9.051127e+08,1968-09-16,2021-07-01,NaT,VILA VELHA,ES,NaN,NaN,adv.cunha01@gmail.com
1,ANDERSON CLAITON PEREIRA,M,T,2.694103e+10,1978-03-03,2021-07-01,NaT,RIO CLARO,SP,19.0,35271384,anderson.clayton@claro.com.br
2,CARLOS MACIEL TRAJANO,M,T,1.132090e+10,1971-12-16,2021-07-01,NaT,ARACATUBA,SP,18.0,33014189,carltraj@gmail.com
3,CHARLES FREDA RODRIGUES,M,T,9.403768e+10,1978-06-28,2021-07-01,NaT,BALNEARIO CAMBORIU,SC,47.0,32642284,charles.rodrigues@claro.com.br
4,CLARISSA COSTA ALVES,F,D,9.800281e+10,1981-07-31,2021-07-01,NaT,PARNAMIRIM,RN,84.0,20206762,andre_nascimento_76@hotmail.com

# Explorando base

In [ ]:
cadastro.dtypes

NOME_ASSOCIADO             object
IND_SEXO                   object
TIPO_ASSOCIADO             object
NUM_CPF                   float64
DATA_NASCIMENTO    datetime64[ns]
DATA_INCLUSAO      datetime64[ns]
DATA_EXCLUSAO      datetime64[ns]
NOME_CIDADE                object
SGL_UF                     object
NUM_DDD                   float64
NUM_TELEFONE               object
END_EMAIL                  object
dtype: object

In [ ]:
cadastro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39821 entries, 0 to 39820
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NOME_ASSOCIADO   39821 non-null  object
 1   IND_SEXO         39821 non-null  object
 2   TIPO_ASSOCIADO   39821 non-null  object
 3   NUM_CPF          39168 non-null  float64
 4   DATA_NASCIMENTO  39821 non-null  datetime64[ns]
 5   DATA_INCLUSAO    39821 non-null  datetime64[ns]
 6   DATA_EXCLUSAO    700 non-null    datetime64[ns]
 7   NOME_CIDADE      38111 non-null  object
 8   SGL_UF           38122 non-null  object
 9   NUM_DDD          25976 non-null  float64
 10  NUM_TELEFONE     26031 non-null  object
 11  END_EMAIL        36118 non-null  object
dtypes: datetime64[ns](3), float64(2), object(7)
memory usage: 3.6+ MB

In [ ]:
cadastro.shape

(39821, 12)

# Transformação

**Alterando ordem das colunas**

In [ ]:
cadastro = cadastro[['NOME_ASSOCIADO','NUM_CPF','DATA_NASCIMENTO','IND_SEXO','DATA_INCLUSAO','DATA_EXCLUSAO','TIPO_ASSOCIADO','SGL_UF','NOME_CIDADE','NUM_DDD','NUM_TELEFONE','END_EMAIL']]

In [ ]:
cadastro.head(5)

,NOME_ASSOCIADO,NUM_CPF,DATA_NASCIMENTO,IND_SEXO,DATA_INCLUSAO,DATA_EXCLUSAO,TIPO_ASSOCIADO,SGL_UF,NOME_CIDADE,NUM_DDD,NUM_TELEFONE,END_EMAIL
0,ALEXANDRE ALVES DA CUNHA,9.051127e+08,1968-09-16,M,2021-07-01,NaT,T,ES,VILA VELHA,NaN,NaN,adv.cunha01@gmail.com
1,ANDERSON CLAITON PEREIRA,2.694103e+10,1978-03-03,M,2021-07-01,NaT,T,SP,RIO CLARO,19.0,35271384,anderson.clayton@claro.com.br
2,CARLOS MACIEL TRAJANO,1.132090e+10,1971-12-16,M,2021-07-01,NaT,T,SP,ARACATUBA,18.0,33014189,carltraj@gmail.com
3,CHARLES FREDA RODRIGUES,9.403768e+10,1978-06-28,M,2021-07-01,NaT,T,SC,BALNEARIO CAMBORIU,47.0,32642284,charles.rodrigues@claro.com.br
4,CLARISSA COSTA ALVES,9.800281e+10,1981-07-31,F,2021-07-01,NaT,D,RN,PARNAMIRIM,84.0,20206762,andre_nascimento_76@hotmail.com

**Renomeando colunas**

In [ ]:
cadastro.columns = 'paciente_nome', 'paciente_documento_cpf', 'paciente_nascimento_data', 'paciente_nascimento_sexo', 'paciente_inclusao_data', 'paciente_exclusao_data', 'paciente_titularidade', 'paciente_endereco_estado', 'paciente_endereco_cidade', 'paciente_contato_telefone_ddd','paciente_contato_telefone','paciente_contato_email'

In [ ]:
cadastro.head(5)

,paciente_nome,paciente_documento_cpf,paciente_nascimento_data,paciente_nascimento_sexo,paciente_inclusao_data,paciente_exclusao_data,paciente_titularidade,paciente_endereco_estado,paciente_endereco_cidade,paciente_contato_telefone_ddd,paciente_contato_telefone,paciente_contato_email
0,ALEXANDRE ALVES DA CUNHA,9.051127e+08,1968-09-16,M,2021-07-01,NaT,T,ES,VILA VELHA,NaN,NaN,adv.cunha01@gmail.com
1,ANDERSON CLAITON PEREIRA,2.694103e+10,1978-03-03,M,2021-07-01,NaT,T,SP,RIO CLARO,19.0,35271384,anderson.clayton@claro.com.br
2,CARLOS MACIEL TRAJANO,1.132090e+10,1971-12-16,M,2021-07-01,NaT,T,SP,ARACATUBA,18.0,33014189,carltraj@gmail.com
3,CHARLES FREDA RODRIGUES,9.403768e+10,1978-06-28,M,2021-07-01,NaT,T,SC,BALNEARIO CAMBORIU,47.0,32642284,charles.rodrigues@claro.com.br
4,CLARISSA COSTA ALVES,9.800281e+10,1981-07-31,F,2021-07-01,NaT,D,RN,PARNAMIRIM,84.0,20206762,andre_nascimento_76@hotmail.com

In [ ]:
cadastro.dtypes

paciente_nome                            object
paciente_documento_cpf                  float64
paciente_nascimento_data         datetime64[ns]
paciente_nascimento_sexo                 object
paciente_inclusao_data           datetime64[ns]
paciente_exclusao_data           datetime64[ns]
paciente_titularidade                    object
paciente_endereco_estado                 object
paciente_endereco_cidade                 object
paciente_contato_telefone_ddd           float64
paciente_contato_telefone                object
paciente_contato_email                   object
dtype: object

**Compreendendo valores**

In [ ]:
cadastro.isnull().sum()

paciente_nome                        0
paciente_documento_cpf             653
paciente_nascimento_data             0
paciente_nascimento_sexo             0
paciente_inclusao_data               0
paciente_exclusao_data           39121
paciente_titularidade                0
paciente_endereco_estado          1699
paciente_endereco_cidade          1710
paciente_contato_telefone_ddd    13845
paciente_contato_telefone        13790
paciente_contato_email            3703
dtype: int64

In [ ]:
df = cadastro[cadastro['paciente_nome'].isnull()]

In [ ]:
df

Empty DataFrame
Columns: [paciente_nome, paciente_documento_cpf, paciente_nascimento_data, paciente_nascimento_sexo, paciente_inclusao_data, paciente_exclusao_data, paciente_titularidade, paciente_endereco_estado, paciente_endereco_cidade, paciente_contato_telefone_ddd, paciente_contato_telefone, paciente_contato_email]
Index: []

In [ ]:
cadastro['paciente_nascimento_sexo'].value_counts()

F    21429
M    18392
Name: paciente_nascimento_sexo, dtype: int64

In [ ]:
cadastro['paciente_titularidade'].value_counts()

T    20661
D    19126
A       34
Name: paciente_titularidade, dtype: int64

**Alterando nome para maísculo negrito**

In [ ]:
cadastro['paciente_nome'] = cadastro['paciente_nome'].str.upper()

**Alterando cidade para formato correto**

In [ ]:
cadastro['paciente_endereco_cidade'] = cadastro['paciente_endereco_cidade'].str.title()

**Alterando sexo para código DHIS**

In [ ]:
cadastro['paciente_nascimento_sexo'] = np.where(cadastro['paciente_nascimento_sexo'] == 'F', 1, 2)

**Alterando titularidade para código DHIS**

In [ ]:
cadastro['paciente_titularidade'] = np.where(cadastro['paciente_titularidade'] == 'T', 'Titular', 'Dependente')

**Limpando e juntando DDD com telefone**

In [ ]:
cadastro['paciente_contato_telefone_ddd'] = cadastro['paciente_contato_telefone_ddd'].fillna(0)

In [ ]:
cadastro['paciente_contato_telefone_ddd'] = cadastro['paciente_contato_telefone_ddd'].astype(int)

In [ ]:
cadastro['paciente_contato_telefone_ddd']  = np.where(cadastro['paciente_contato_telefone_ddd'] == 0, None, cadastro['paciente_contato_telefone_ddd'])

In [ ]:
cadastro['paciente_contato_telefone_ddd'] = cadastro['paciente_contato_telefone_ddd'].astype(str)

In [ ]:
cadastro['paciente_contato_telefone'] = cadastro['paciente_contato_telefone_ddd'] + cadastro['paciente_contato_telefone']

In [ ]:
cadastro.drop(['paciente_contato_telefone_ddd'],axis=1,inplace=True)

**Colocando datas no formato aceito**

In [ ]:
cadastro['paciente_nascimento_data'] = cadastro['paciente_nascimento_data'].astype(str)

In [ ]:
cadastro['paciente_nascimento_data'] = cadastro['paciente_nascimento_data'].str[:10]

In [ ]:
cadastro['paciente_nascimento_data'] = cadastro['paciente_nascimento_data'].replace(['NaT'], '')

In [ ]:
cadastro['paciente_inclusao_data'] = cadastro['paciente_inclusao_data'].astype(str)

In [ ]:
cadastro['paciente_inclusao_data'] = cadastro['paciente_inclusao_data'].str[:10]

In [ ]:
cadastro['paciente_inclusao_data'] = cadastro['paciente_inclusao_data'].replace(['NaT'], '')

In [ ]:
cadastro['paciente_exclusao_data'] = cadastro['paciente_exclusao_data'].astype(str)

In [ ]:
cadastro['paciente_exclusao_data'] = cadastro['paciente_exclusao_data'].str[:10]

In [ ]:
cadastro['paciente_exclusao_data'] = cadastro['paciente_exclusao_data'].replace(['NaT'], '')

**Corringido CPF**

In [ ]:
cadastro['paciente_documento_cpf'] = cadastro['paciente_documento_cpf'].fillna(0)

In [ ]:
cadastro['paciente_documento_cpf'] = cadastro['paciente_documento_cpf'].astype(int)

In [ ]:
cadastro['paciente_documento_cpf']  = np.where(cadastro['paciente_documento_cpf'] == 0, None, cadastro['paciente_documento_cpf'])

In [ ]:
cadastro['paciente_documento_cpf'] = cadastro['paciente_documento_cpf'].astype(str)

In [ ]:
cadastro['t_paciente_documento_cpf'] = cadastro['paciente_documento_cpf'].apply(lambda x: len(x))

In [ ]:
cadastro['t_paciente_documento_cpf'].value_counts()

11    26370
10    11669
9      1030
4       653
8        91
7         7
6         1
Name: t_paciente_documento_cpf, dtype: int64

In [ ]:
cadastro['paciente_documento_cpf']  = np.where(cadastro['t_paciente_documento_cpf'] == 10, "0" + cadastro['paciente_documento_cpf'],cadastro['paciente_documento_cpf'])
cadastro['t_paciente_documento_cpf'] = cadastro['paciente_documento_cpf'].apply(lambda x: len(x))

In [ ]:
cadastro['paciente_documento_cpf']  = np.where(cadastro['t_paciente_documento_cpf'] == 9, "00" + cadastro['paciente_documento_cpf'],cadastro['paciente_documento_cpf'])
cadastro['t_paciente_documento_cpf'] = cadastro['paciente_documento_cpf'].apply(lambda x: len(x))

In [ ]:
cadastro['paciente_documento_cpf']  = np.where(cadastro['t_paciente_documento_cpf'] < 9, "0", cadastro['paciente_documento_cpf'])
cadastro['t_paciente_documento_cpf'] = cadastro['paciente_documento_cpf'].apply(lambda x: len(x))

In [ ]:
cadastro['t_paciente_documento_cpf'].value_counts()

11    39069
1       752
Name: t_paciente_documento_cpf, dtype: int64

In [ ]:
cadastro.dtypes

paciente_nome                object
paciente_documento_cpf       object
paciente_nascimento_data     object
paciente_nascimento_sexo      int64
paciente_inclusao_data       object
paciente_exclusao_data       object
paciente_titularidade        object
paciente_endereco_estado     object
paciente_endereco_cidade     object
paciente_contato_telefone    object
paciente_contato_email       object
t_paciente_documento_cpf      int64
dtype: object

**Retirando CPF nulos**

In [ ]:
cpf_inexistente = cadastro[(cadastro['t_paciente_documento_cpf'] == 1)].index
cadastro.drop(cpf_inexistente , inplace=True)

In [ ]:
cadastro['t_paciente_documento_cpf'].value_counts()

11    39069
Name: t_paciente_documento_cpf, dtype: int64

**Retirando CPF duplicados**

In [ ]:
cadastro['paciente_documento_cpf'].nunique()

39020

In [ ]:
cadastro.drop_duplicates(subset=['paciente_documento_cpf'], keep='last',inplace=True)

In [ ]:
cadastro['paciente_documento_cpf'].nunique()

39020

**Mapeio de estado da federação**

In [ ]:
cadastro['paciente_endereco_estado'].value_counts()

SP    10719
MG     5410
RS     3219
RJ     3023
GO     2639
ES     2484
PR     1686
SC     1429
PA      793
BA      656
PE      653
AM      636
CE      573
PB      473
MS      430
MT      424
AL      351
DF      295
RO      280
SE      234
RN      229
MA      186
PI      173
TO      167
AC      134
AP       42
RR       33
Name: paciente_endereco_estado, dtype: int64

In [ ]:
estados = {"SP":"25", "MG":"13", "RS":"21", "RJ":"19", "GO":"9", "ES":"8", "PR":"16", "SC":"24", "PA":"14", "BA": "5", "PE":"17", "AM":"4", "CE":"6", "PB":"15", "MS":"12", "MT":"11",
          "AL":"2", "DF":"7", "RO":"23", "SE":"26","RN":"20", "MA":"10", "PI":"18", "TO":"27", "AC":"1", "AP":"3", "RR":"23"}

cadastro['paciente_endereco_estado'] = cadastro['paciente_endereco_estado'].map(estados)

In [ ]:
cadastro.head(5)

,paciente_nome,paciente_documento_cpf,paciente_nascimento_data,paciente_nascimento_sexo,paciente_inclusao_data,paciente_exclusao_data,paciente_titularidade,paciente_endereco_estado,paciente_endereco_cidade,paciente_contato_telefone,paciente_contato_email,t_paciente_documento_cpf
0,ALEXANDRE ALVES DA CUNHA,00905112717,1968-09-16,2,2021-07-01,,Titular,8,Vila Velha,NaN,adv.cunha01@gmail.com,11
1,ANDERSON CLAITON PEREIRA,26941025816,1978-03-03,2,2021-07-01,,Titular,25,Rio Claro,1935271384,anderson.clayton@claro.com.br,11
2,CARLOS MACIEL TRAJANO,11320897860,1971-12-16,2,2021-07-01,,Titular,25,Aracatuba,1833014189,carltraj@gmail.com,11
3,CHARLES FREDA RODRIGUES,94037680025,1978-06-28,2,2021-07-01,,Titular,24,Balneario Camboriu,4732642284,charles.rodrigues@claro.com.br,11
4,CLARISSA COSTA ALVES,98002805020,1981-07-31,1,2021-07-01,,Dependente,20,Parnamirim,8420206762,andre_nascimento_76@hotmail.com,11

In [ ]:
cadastro['paciente_endereco_estado'].value_counts()

25    10719
13     5410
21     3219
19     3023
9      2639
8      2484
16     1686
24     1429
14      793
5       656
17      653
4       636
6       573
15      473
12      430
11      424
2       351
23      313
7       295
26      234
20      229
10      186
18      173
27      167
1       134
3        42
Name: paciente_endereco_estado, dtype: int64

# Gravando arquivo

In [ ]:
cadastro.to_csv('/content/drive/Shareddrives/BASES BIs Plano de Saude/03. Bases/Claro/Cadastro/2022/2022_10/cadastro_tratado.csv')